KAFKA_BROKERS=localhost:9092
KAFKA_NEWS_TOPIC=news-parsed
KAFKA_ANALYZED_TOPIC=news-analyzed
KAFKA_GROUP_ID=analyzer-service-group

GEONAMES_USERNAME=demo
GEOCODER_CACHE_SIZE=1000

LOG_INTERVAL_SEC=60